<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.cxct.sportlottery"
    tools:ignore="LockedOrientationActivity,UnusedAttribute,ScopedStorage,AllowBackup,IntentFilterExportedReceiver">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 谷歌市场的包要移除install 权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.webkit.resource.VIDEO_CAPTURE" />
    <uses-permission android:name="android.webkit.resource.AUDIO_CAPTURE" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <!--兼容华为手机，当使用密码管理器时会使用该权限-->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.OBSERVE_GRANT_REVOKE_PERMISSIONS"
        tools:ignore="ProtectedPermissions" /> <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 使用照相機權限 -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <queries><provider android:authorities="com.facebook.katana.provider.PlatformProvider"/></queries>
    <queries><provider android:authorities="com.facebook.orca.provider.PlatformProvider"/></queries>
    <application
        android:name=".application.MultiLanguagesApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="${NETWORK_SECURITY_CONFIG}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.news.NewsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="390" />

        <activity
            android:name=".ui.maintab.MainTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.identity.VerifyIdentityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.profileCenter.identity.TakeIDPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.identity.KYCFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feedback.FeedbackMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 後臺服務-長連線 -->
        <activity
            android:name=".ui.login.signUp.info.RegisterInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profileCenter.otherBetRecord.OtherBetRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.detail.SportDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sport.endcard.EndCardActivity"
            android:theme="@style/darkStyle"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.maintenance.MaintenanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.infoCenter.InfoCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.finance.FinanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.betRecord.detail.BetDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.money.recharge.MoneyRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.betRecord.BetRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.money.withdraw.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.money.withdraw.WithdrawCommissionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.money.withdraw.BankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.SportNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.results.ResultsSettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpCenter.HelpCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/lunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.LaunchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.signIn.LoginOKActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.signIn.LoginVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.foget.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.foget.reset.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.foget.ForgetWaysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.selectAccount.SelectAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.signIn.PhoneVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.profileCenter.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.vip.VipBenefitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.nickname.ModifyProfileInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.nickname.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.modify.VerificationWaysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.modify.ModifyBindInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.changePassword.SettingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.changePassword.ResetWithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.thirdGame.ThirdGameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.selflimit.SelfLimitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.profileCenter.timezone.TimeZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.filter.LeagueSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.search.SportSearchtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.money_transfer.MoneyTransferActivity"
            android:screenOrientation="portrait" /> <!-- 後臺服務-長連線 -->
        <activity
            android:name=".ui.profileCenter.cancelaccount.CancelAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.aboutMe.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.maintab.lottery.LotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.authbind.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.maintab.home.news.NewsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.promotion.PromotionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.promotion.PromotionDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.vip.MyVipDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.invite.InviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.maintab.home.bettingstation.BettingStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.maintab.home.ambassador.AmbassadorActivity"
            android:screenOrientation="portrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="AF_STORE"
            android:value="${CHANNEL}" />
        <meta-data
            android:name="INVITE_CODE"
            android:value="${INVITE_CODE}" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.maintab.menu.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.redeem.RedeemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.promotion.LuckyWheelActivity"
            android:screenOrientation="portrait" />
        <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".push.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".push.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />
    </application>

</manifest>