<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.cxct.sportlottery"
    tools:ignore="LockedOrientationActivity,UnusedAttribute,ScopedStorage,AllowBackup,IntentFilterExportedReceiver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 谷歌市场的包要移除install 权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.webkit.resource.VIDEO_CAPTURE" />
    <uses-permission android:name="android.webkit.resource.AUDIO_CAPTURE" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 使用照相機權限 -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:name=".MultiLanguagesApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="${NETWORK_SECURITY_CONFIG}"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.news.NewsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <activity
            android:name=".ui.maintab.MainTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.identity.VerifyIdentityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.permission.GooglePermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.creditrecord.CreditRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.favorite.MyFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transactionStatus.TransactionStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.accountHistory.AccountHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.accountHistory.BetListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.vip.VipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.game.GameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.game.publicity.GamePublicityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feedback.FeedbackMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 後臺服務-長連線 -->
        <activity
            android:name=".ui.profileCenter.otherBetRecord.OtherBetRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.detail.SportDetailActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.maintenance.MaintenanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.infoCenter.InfoCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.finance.FinanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.money.recharge.MoneyRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.withdraw.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.withdraw.WithdrawCommissionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.withdraw.BankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.results.ResultsSettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.sportRecord.BetRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpCenter.HelpCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.signIn.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.foget.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.signIn.PhoneVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.login.signUp.RegisterOkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.signUp.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.profileCenter.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.nickname.ModifyProfileInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.changePassword.SettingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.versionUpdate.VersionUpdateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.thirdGame.ThirdGameActivity" />
        <activity
            android:name=".ui.selflimit.SelfLimitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.game.language.SwitchLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.AppearanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.timezone.TimeZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.filter.LeagueSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.search.SportSearchtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profileCenter.money_transfer.MoneyTransferActivity"
            android:screenOrientation="portrait" /> <!-- 後臺服務-長連線 -->
        <activity
            android:name=".ui.profileCenter.cancelaccount.CancelAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.maintab.menu.SettingCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.aboutMe.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.maintab.lottery.LotteryActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.BackService" /> <!-- broadCast -->
        <receiver
            android:name=".service.ServiceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver> <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver> <!-- SDK 24 以上 要使用 FileProvider 獲取 File 的 Uri，才能提供 file 給外部 app 使用 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="AF_STORE"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="INVITE_CODE"
            android:value="${INVITE_CODE}" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

    </application>

</manifest>